/* Logo- Raleway w:700 s:26 hl:30.52 coor:#2196F3 #000000
          Oleo Script w:400 s:26 lh:35.96 color:#FFFFFF
Основной шрифт текста - Roboto w:400 s:14 color:#757575 
H1 - Roboto w:900 s:44px lh:60px color:#ffffff
H2 - Roboto w700 s:36 lh:42.19 color:#212121
H3 - Roboto w700 s14 color:#212121
active color - 

*/
:root {
  --main-text-color: #757575;
  --main-text-second-color: #212121;
  --main-bg-color: #ffffff;
  --main-sec-bg: #2f303a;
  --main-trhid-bg: #f5f4fa;
  --main-logo-first-color: #2196f3;
  --main-logo-color: #000000;
  --main-logo-color-footer: #ffffff;
  --main-sec-color: #ffffff;
  --main-footer-color: #ffffff;
  --main-active-color: #2196f3;
  --main-active-bg: #ffffff;
  --active-bt-color: #ffffff;
  --active-bt-bg: #2196f3;
  --active-bt-forma-bg: #188ce8;
  --footer-sec-color: rgba(255, 255, 255, 0.6);
  --portfolio-border: #eeeeee;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  font-size: 16px;
  letter-spacing: 0.03em;
  background-color: var(--main-bg-color);
}

.accent {
  color: var(--main-active-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
.tittle {
  /* color: var(--main-text-second-color);
  font-weight: 700; */
}
.container {
  /* margin-top: 0;
  margin-bottom: 0; */
  /* margin-top: 94px; */
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
}
.container.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  margin-top: 94px;
}
.section-tittle,
.section-list-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-text-second-color);
  text-align: center;
}
.section-tittle,
.section-list-tittle,
.section-text {
  margin-top: 0;
  margin-bottom: 0;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  line-height: 1.63;
  font-family: inherit;
}

/* Header */

.header .container {
  /* margin-top: 0; */
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
/* LOGO */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--main-logo-color);
  text-decoration: none;
}
.logo-first-color {
  color: var(--main-logo-first-color);
}
/* .logo-footer */

/* header */
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-second-color);
}
.site-nav,
.site-nav .list {
  display: flex;
  align-items: center;
  /* flex-wrap: ; */
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .list {
  margin-left: 93px;
}
.site-nav .item {
  /* margin-top: 32px;
  margin-bottom: 32px;*/
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--main-active-color);
}

/* nav contact  */
.contact {
  display: flex;
  margin-left: auto;
}
.contact .item:not(:last-child) {
  margin-right: 50px;
}

.contact .link {
  color: var(--main-text-color);
}
.contact .link:hover,
.contact .link:focus {
  color: var(--main-active-color);
}

/* heroes */
.heroes-button {
  margin-top: 30px;
}
.section.heroes {
  text-align: center;
  margin-top: 0;
  /* padding-top: 200px;
  padding-bottom: 200px; */
  background-color: var(--main-sec-bg);
}

.heroes .section-tittle,
.heroes-button {
  color: var(--main-sec-color);
  letter-spacing: 0.06em;
}

.heroes .section-tittle {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
.heroes .button,
.portfolio .button.current {
  color: var(--main-sec-color);
  background-color: var(--main-active-color);
  border: none;
}

.heroes-button {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

.heroes-button:hover,
.heroes-button:focus {
  background-color: var(--active-bt-forma-bg);
}

/* benefits */
.benefits .list {
  display: flex;
}
.benefits .item:not(:last-child) {
  margin-right: 30px;
}
.section-text {
  margin-top: 10px;
}
.benefits .section-text,
.benefits .section-list-tittle {
  font-size: 14px;
}
.benefits .section-list-tittle {
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}
.benefits .section-text {
  line-height: 1.71;
}

/* Чем мы занимаемся */
.whotis .list {
  display: flex;
}
.whotis .item.item:not(:last-child) {
  margin-right: 30px;
}
.whotis .section-tittle {
  margin-bottom: 50px;
}

/* Наша комманда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--main-trhid-bg);
}

.team .list {
  display: flex;
}
.team .item.item:not(:last-child) {
  margin-right: 30px;
}
.team .section-tittle {
  margin-bottom: 50px;
}
.team .section-text {
  margin-top: 10px;
  margin-bottom: 30px;
}
.team .section-list-tittle {
  margin-top: 30px;
}

.team .section-list-tittle,
.team .section-text {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.team .section-list-tittle {
  font-weight: 500;
}

/* footer */
.footer {
  background: var(--main-sec-bg);
  color: var(--main-sec-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
}
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .link {
  color: var(--footer-sec-color);
}
.footer-address .link {
  display: inline-block;
}

.footer-address {
  font-style: normal;
  margin-top: 20px;
}
.footer-address li:not(:first-child) {
  margin-top: 9px;
}
.logo-footer {
  color: var(--main-logo-color-footer);
}

.footer-address .link.map {
  color: var(--main-sec-color);
}

.footer-address .link:hover,
.footer-address .link:focus {
  color: var(--main-active-color);
}

/* Портфолио */
.portfolio.section {
  margin-bottom: 94px;
}
.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-filter .item.item.item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list .item {
  /* display: block; */
  /* box-sizing: border-box; */
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid var(--portfolio-border);
}

.portfolio .section-list-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.portfolio .section-text {
  color: var(--main-text-color);
  line-height: 1.88;
  /* font-weight: 400; */
  /* letter-spacing: 0.03em; */
}
.portfolio .section-text {
  margin-top: 4px;
}
.portfolio .section-list-tittle {
  margin-top: 20px;
}

.portfolio-button {
  color: var(--main-text-second-color);
  background: var(--main-trhid-bg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: none;
  /* text-align: center; */
}
.portfolio .button:hover,
.portfolio .button:focus {
  color: var(--active-bt-color);
  background-color: var(--active-bt-bg);
}
