/* Logo- Raleway w:700 s:26 hl:30.52 coor:#2196F3 #000000
          Oleo Script w:400 s:26 lh:35.96 color:#FFFFFF
Основной шрифт текста - Roboto w:400 s:14 color:#757575 
H1 - Roboto w:900 s:44px lh:60px color:#ffffff
H2 - Roboto w700 s:36 lh:42.19 color:#212121
H3 - Roboto w700 s14 color:#212121
active color - 

*/
:root {
  --main-text-color: #757575;
  --main-text-second-color: #212121;
  --main-bg-color: #ffffff;
  --main-sec-bg: #2f303a;
  --main-logo-first-color: #2196f3;
  --main-logo-color: #000000;
  --main-logo-color-footer: #ffffff;
  --main-sec-color: #ffffff;
  --main-footer-color: #ffffff;
  --main-active-color: #2196f3;
  --main-active-bg: #ffffff;
  --active-bt-color: #ffffff;
  --active-bt-bg: #2196f3;
  --footer-sec-color: rgba(255, 255, 255, 0.6);
  --filter-bt-bg: #f5f4fa;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  background-color: var(--main-bg-color);
  margin: 0;
}

.accent {
  color: var(--main-active-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.tittle {
  color: var(--main-text-second-color);
  font-weight: 700;
}

.works-tittle,
.team-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-text-second-color);
}

.button {
  cursor: pointer;
  text-align: center;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  /* padding: 0 15px; */
  padding-left: 15px;
  padding-right: 15px;
  /* background-color: tomato; */
  outline: 2px solid tomato;
  border: 2px outline green;
}
.outline {
  outline: 1px solid red;
}
/* LOGO */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--main-logo-color);
  text-decoration: none;
}
.logo-first-color {
  color: var(--main-logo-first-color);
}
.benefits,
.works,
.team,
.portfolio {
  margin-top: 94px;
}
/* .logo-footer */

/* header */
.header {
  /* margin-top: 0; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-second-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--main-active-color);
}

/* .site-nav .link.current {
  color: var(--main-active-color);
} */

/* nav contact  */
.contact .link {
  color: var(--main-text-color);
}
.contact .link:hover,
.contact .link:focus {
  color: var(--main-active-color);
}

/* heroes */
.heroes {
  /* background-color: var(--main-sec-bg); */
  background-color: grey;
  letter-spacing: 0.06em;
  text-align: center;
}

.heroes-tittle,
.heroes-button {
  color: var(--main-sec-color);
  letter-spacing: 0.06em;
}

.heroes-tittle {
  /* margin-top: 0;
  margin-bottom: 0; */
  margin: 0;

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* letter-spacing: 0.06em; */

  /* text-align: center; */
}
.heroes .button,
.portfolio .button.current {
  color: var(--main-sec-color);
  background-color: var(--main-active-color);
  border: none;
}
.heroes-button {
  margin-top: 30px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

/* benefits */
.benefits {
  /* margin-top: 94px; */
  /* padding-top: 94px;
  padding-bottom: 94px; */
}
.benefits .list {
  /* margin-top: 94px; */
  /* margin-left: auto;
  margin-right: auto; */
}
.benefits-list-tittle,
.benefits-list-text {
  margin-top: 0;
  margin-bottom: 0;
}

.benefits-list-tittle {
  color: var(--main-text-second-color);
  /* font-weight: 700; */
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits-list-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся */
/* .works-tittle {
} */
.works {
  /* margin-top: 94px; */
  outline: 1px solid red;
}
.works-tittle {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}
/* Наша комманда */
.team {
  /* margin-top: 94px; */
  /* text-align: center; */
  padding-top: 94px;
  outline: 1px solid red;
}
.team-tittle {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}
.team-list-tittle,
.team-list-text {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.17;
  /* text-align: center; */
}

.team-list-tittle {
  margin-top: 30px;
  font-weight: 500;
}
.team-list-text {
  margin-top: 10px;
}

/* .team-list-text {

} */

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--main-sec-bg);
  color: var(--main-sec-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
}

.footer-address .link {
  color: var(--footer-sec-color);
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
}

.footer-address li:not(:first-child) {
  margin-top: 9px;
}

.list-in-block .link {
  display: inline-block;
}

.logo-footer {
  color: var(--main-logo-color-footer);
}

.footer-address .link.map {
  color: var(--main-sec-color);
}

.footer-address .link:hover,
.footer-address .link:focus {
  color: var(--main-active-color);
}

/* Портфолио */
.portfolio-tittle,
.portfolio-text {
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  margin-top: 4px;
  color: var(--main-text-color);
  line-height: 1.88;
  /* letter-spacing: 0.03em; */
}

.portfolio-button {
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  height: 38px;
  color: var(--main-text-second-color);
  background: var(--filter-bt-bg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  /* text-align: center; */
}
.portfolio .button:hover,
.portfolio .button:focus {
  color: var(--active-bt-color);
  background-color: var(--active-bt-bg);
}
